body {
    background-color: #1E1E1E;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

body ul{
    padding-left: 0px;
}

/* -------------- header ---------- */
header, footer {
    margin-left: -8px;
    margin-right: -8px;
    background-color: #111111;
}

header {
    margin-top: -15px;
}

#header-links {
    color: darkgrey;
    font-family: sans-serif;
    position: fixed;
    width: 100%;
    background: #111111;
}
#header-corpo {
    background-image: url("../fotos/codigos.jpg");
    background-size: 100%;
    text-align: center;
    padding-bottom: 1px;
    /*text-shadow: 2px 2px black;*/
}

#header-corpo img{
    width: 40%;
}

header ul {
    padding-top: 10px;
    font-size: 18px;
}

#header-links li{
    display: inline;
    margin-left: 5%;
}
header {
    border-color: white;
    border: 10px;
}

header li:hover{
    color: white;
}

/* ------------- corpo ------------ */

#quemsomos > * {
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 20px;
    width: 40%;
}

hr {
    width: 80%;
}

#fieldset{
    margin-left: 10%;
    margin-right: 10%;
    text-align: center;
}

.perfil {
    width: 200px;
    border-radius: 100px;
}

#sliceshow {
    height: 70%;
    text-align: center;
}

#sliceshow img{
    margin-left: 5px;
    margin-top: 20px;
    margin-bottom: 5px;
    border-radius: 20px;
    width: 10%;
    opacity: 0.5;
}

table p{
    width: 50%;
    text-align: justify;  
    padding-left:  20%; 
}

#sliceshow img:hover{
    width: 11%;
    opacity: 1;
}

/* ------------ footer ------------ */

footer {
    text-align: center;
    padding-top: 10px;
}

footer > img{
    width: 20%;
}

footer li{
    display: inline-block;
}

footer > * {
    display: inline-block;
    margin-right: 20%;   
}

#legenda {
    margin-top: 15px;
    margin-bottom: 10px;
    font-size: 40px;
    text-align: center;
}