body {
    background-color: #1E1E1E;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

ul{
    padding-left: 0px;
}

/* -------------- header ---------- */
header, footer {
    margin-left: -8px;
    margin-right: -8px;
    background-color: #111111;
}

header {
    margin-top: -15px;
}

#header-links a{
    color: darkgrey;
    font-family: sans-serif;
    text-decoration: none;
}
#header-links {
    position: fixed;
    width: 100%;
    background: #111111;
}
#header-corpo {
    background-image: url("../fotos/codigos.jpg");
    background-size: 100%;
    text-align: center;
    padding-top: 5%;
    /*text-shadow: 2px 2px black;*/
}

#header-corpo2 {
    background-image: url("../fotos/papeis.jpg");
    text-align: center;
    background-size: 100%;
    height: 70%;
}

#header-contatos {
    background-image: url("../fotos/contato.jpg");
    text-align: center;
    background-size: 100%;
    height: 70%;
}

#header-corpo img{
    width: 40%;
}

header ul {
    padding-top: 10px;
    font-size: 18px;
}

#header-links li{
    display: inline;
    margin-left: 5%;
}

header a:hover{
    color: white;
}

/* ------------- corpo ------------ */

#quemsomos > * {
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 20px;
    width: 40%;
}

hr {
    width: 80%;
}

#fieldset{
    margin-left: 10%;
    margin-right: 10%;
    text-align: center;
}

.perfil {
    border: 30px solid black;
    width: 200px;
    border-radius: 150px;
}

#sliceshow {
    text-align: center;
    margin-bottom: 20px;
}

#sliceshow img{
    margin-left: 5px;
    margin-top: 20px;
    border-radius: 20px;
    width: 10%;
    opacity: 0.5;
}

.p1, .p2{
    text-align: justify;
    background-color: black;
}

.p1{
    width: 50%;
    margin-left: -100px;
    padding: 30px 30px 30px 130px;
}

.p2 {
    width: 60%;
    margin-right: -300px;
    padding: 30px 150px 30px 30px;
}

#sliceshow img:hover{
    opacity: 1;
}

form p {
    font-family: Helvetica;
}

form input, textarea, button {
    width: 80%;
    text-align: center;
    font-size: 20px;
    margin-bottom: 10px;
    border-radius: 20px;
}

form button {
    width: 50%;
}

/* ------------ footer ------------ */

footer {
    text-align: center;
    padding-top: 10px;
}

footer > img{
    width: 20%;
}

footer li{
    display: inline-block;
}

footer > * {
    display: inline-block;
    margin-right: 20%;   
}

#legenda {
    margin-top: 15px;
    margin-bottom: 10px;
    font-size: 40px;
    text-align: center;
}

#map {
        width: 80%;
        height: 400px;
        background-color: #CCC;
}

#icones {
    width: 50px;
    height: 50px;
}